


<div class="container">
    <div class="row divBox">
        <p class="pull-left">Frequently Asked Questions (FAQ)</p> 
        <p class="pull-right"> How to order from Niqasay? </p>
        <p class="pull-right">
            Ordering from Niqasay is actually pretty easy! All you will need to do is to follow three simple steps:<br>

            1. Browse for the product you are looking for.<br>
            2. Fill the order form on the top right of each page. An order number will can be seen at Top Navigation -> Orders after you logIn<br>
            3. Our friendly customer support team will contact you for order confirmation<br>
            4. Post confirmations you will get the delivery of your desired product in a few days<br>
            5. If any case call us on our contact Numbers.<br>

        </p>

    </div>
</div>
