<!--Footer-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
    
                <div class="row">
    
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>NiQasay</span> eShop</h2>
                            <p>Online Garments Store, discover Your Favourite Trends at One Place. Forever Designs over Premium Quality Fabric.
                            </p>
                        </div>
                    </div>
    
                    <!-- <div class="col-sm-8"> -->
    
                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="category/13">
                                    <div><!-- <div class="iframe-img">  -->
                                        <img src="../../../assets/images/webimages/pngwing37icon.png" alt="" />
                                    </div>
                                    
                                </a>
                                <p>Fancy Net Dresses</p>
                                <h2>according to customer desire and events</h2>
                                
                            </div>
                        </div>
                        
                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="category/14">
                                    <div><!-- <div class="iframe-img"> -->
                                        <img src="../../../assets/images/webimages/pngwing43icon.png" alt="" />
                                    </div>
                                    
                                </a>
                                <p>Fancy Soft Organza Dresses</p>
                                <h2>premium quality dresses for all age groups </h2>
                            </div>
                        </div>
                        
                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="category/8">
                                    <div><!-- <div class="iframe-img"> -->
                                        <img src="../../../assets/images/webimages/pngwingteenIcon.png" alt="" />
                                    </div>
                                    
                                </a>
                                
                                <p>Summer Cotton Dresses</p>
                                <h2>we cover all events and party wears</h2>
                            </div>
                        </div>
                        
                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="category/9">
                                    <div><!-- <div class="iframe-img"> -->
                                        <img src="../../../assets/images/webimages/pngwingkidgirlIcon.png" alt="" />
                                    </div>
                                    
                                </a>
                                <p>Summer Lawn Dresses</p>
                                <h2>for teenagers to infants all age groups</h2>
                            </div>
                        </div>
    
                    <!-- </div> -->
    
                    <div class="col-sm-2">
                        <div class="address">
                            <img src="../../../assets/images/webimages/map.png" alt=""  />
                            <h6>We Serve Across the Globe @ 24/7 </h6>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
        
        <div class="footer-widget">
            <div class="container">
                <div class="row">
    
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Services</h2>
                            <ul class="list-group listGroupColor">
    
                                <li class="list-group-item listGroupColor"><a href="orderconfirmation">Order and Size Confirmation</a></li>
                                <li class="list-group-item listGroupColor"><a href="frequentlyasked">Frequently Asked FAQ's</a></li>
                                <li class="list-group-item listGroupColor"><a href="contactus">Contact Us</a></li>
                                <li class="list-group-item listGroupColor"><a href="orderstatus">Order Status</a></li>
                                
        
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Quick Shop</h2>
                            <ul class="list-group listGroupColor">
    
                                <li class="list-group-item listGroupColor"><a href="category/6">Cotton Dresses</a></li>
                                <li class="list-group-item listGroupColor"><a href="category/7">Lawan Dresses</a></li>
                                <li class="list-group-item listGroupColor"><a href="category/12">Winter Corduroy Dresses</a></li>
                                <li class="list-group-item listGroupColor"><a href="category/17">Fancy Fabric Net Dresses</a></li>
                                <li class="list-group-item listGroupColor"><a href="category/16">Girls Bands</a></li>
    
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="list-group listGroupColor">
    
                                <li class="list-group-item listGroupColor"><a href="returnexchangepolicy">Return Exchange Policy</a></li>
                                <li class="list-group-item listGroupColor"><a href="privacypolicy">Privacy Policy</a></li>
                                <!-- <li class="list-group-item listGroupColor"><a href="#">Claim Policy</a></li> -->
                                
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>About Niqasay</h2>
                            <ul class="list-group listGroupColor">
                                <li class="list-group-item listGroupColor"><a href="companyinfo">Company Information</a></li>
                                <li class="list-group-item listGroupColor"><a href="career">Careers</a></li>
                                <li class="list-group-item listGroupColor"><a href="storelocation">Store Location</a></li>
                                <li class="list-group-item listGroupColor"><a href="copyrights">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
    
                  
                    
                </div>

            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2020 Niqasay eShop Inc. All rights reserved.</p>
                    <p class="pull-right">Developed by <span>Youth Enablers</span></p>
                </div>
            </div>
        </div>
        
    </footer>
    <!--/Footer-->
    