
  <div class="row col-auto align-self-center">
    <div class="col col-auto align-self-center">
        <div class="col col-auto align-self-center">
            <div id="userName" class="btn textColor btnSpace textBold">  </div>
        </div>
    </div>
    <div class="col col-auto align-self-center">
        <button class="btn textColor btnSpace " *ngIf="loggedIn" class="btn btn-outline-warning btnSpace">Logout</button> 
    </div>
    <div class="col col-auto align-self-center">
        <button class="btn textColor btnSpace " *ngIf="loggedIn" routerLink="/members" class="btn btn-outline-warning btnSpace">Members</button> 
    </div>
    <div class="col col-auto align-self-center">
        <button class="btn textColor btnSpace " *ngIf="loggedIn" routerLink="/order-history" class="btn btn-outline-warning btnSpace">Orders</button> 
    </div>
    <div class="col col-auto align-self-center">

        <button type="button"  class=" google btn" #loginRef> <i class="bi bi-google"></i> Login with Google+ </button>
       
        <!-- <button type="button" class="btn textColor btnSpace" *ngIf="!loggedIn" #loginRef> <i class="bi bi-google"></i>   Login with Google+ </button> -->
           
        <!-- <button class="btn textColor btnSpace " *ngIf="loggedIn" (click)="signIn()" class="google btn"><i class="bi bi-google"></i>   Login with Google+</button> -->
    </div>
</div> 
