<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- Loop collection of products -->
        <div class="col-md-3" *ngFor="let product of productList">
          <div class="product-box">

            <a routerLink="/products/{{product.id}}"> <img src="{{product.imageUrl}}" class="img-responsive"> </a>

            <a routerLink="/products/{{product.id}}">
              <h1> {{product.name}} </h1>
            </a>

            <h2>{{ product.description }}</h2>

            <div class="price">{{product.unitPrice | currency : 'PKR' : ' Rs '}}</div>

            <a href="#" class="primary-btn">Add to cart</a>

          </div>
        </div>

        <div class="footer-pagination">
          
        </div>

        <div *ngIf="productList?.length == 0" class="pageNotFound">
          <img src="../../../assets/images/pageNotFound.png" width="700px" height="500px"
            style="display: block; margin-left: auto; margin-right: auto">
          <button class="au-btn-submit btn btn-dark btn-outline-warning" type="submit" routerLink="/products"
            style="display: block; margin-left: auto; margin-right: auto"> Back </button>
        </div>

      </div>
    </div>
  </div>