<div class="container">
    <div class="row divBox">
        <p class="pull-left">Exchange Policy</p>
        <p class="pull-right">
            Our customer service policies are simple, straightforward and transparent and are drafted keeping your best interests in mind. 
            If by any reason, you wish to part with a product you bought from niqasay.com or are unhappy with the quality of the product, 
            you can always send it back to us for replacement with any other item. We promise we will not quibble, argue or frame excuses. 
            It is your right and we respect it. By doing this, we also ensure that our main motto of a memorable shopping experience remains intact.

            Though we are always working hard to match your expectations and deliver you quality products, on time, but still, in case, 
            you have decided that you want a replacement, we are ready to help you out. In case of the following scenarios you are liable to get a replacement without any deduction:
            
            We have shipped a wrong product that is not matching with your order or there is a manufacturing defect in the product ordered by you:
        
            You have seven days (from the date you receive the parcel) to make up your mind and intimate us that you wish to exchange the product.
            You can do so by dropping in an Email to info@niqasay.com or call at 03XXXXXXXXXX stating your order id 
            You have to send us the parcel within seven days of its receipt through courier.
            Courier for sending back the product will be borne by customer.
            
        </p>

        <p class="pull-left"> Some Do’s and Don’ts:</p>   
             
        <p class="pull-right">
            Items must be unused and undamaged and must be in their original purchase condition.
            You need to send us the following: Original Product Packaging, Manufacturer's Containers, Documentation, Warranty Cards, Manuals, and all accessories.
            All packaging, including the original manufacturer's containers, must be unmarked and not defaced in any manner.
        </p>    
             
        <p class="pull-left">For Customer Support Related write to:</p>    
        <p class="pull-left"> info@niqasay.com</p>  
        <p class="pull-left"> Call us at : 03XXXXXXXXXX</p>  
              
    </div>
</div>