.background{
    background-color: #d2d2d2;
}

.navBackground{
    /* background-color: #42975a ; */
    background-image: linear-gradient(to right, rgba(91, 88, 88, 0), rgb(63, 62, 60));
   
    
}

.topNavBackground{
    background-image: linear-gradient(to right,#22ad6a, #216e38);
}

.margins{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.alignCenter{
   
    display: flex;
  align-items: center;
}

/* OFF canvas Nav Bar */

/* Off Canvas navbar */