<!-- Div body Content Start -->
<div>
  <!-- HEADER DESKTOP-->
  <header class="header-desktop">
    <div class="section-content section-content-p30 navBackground ">

      <div class="container-fluid ">

        <!-- <div class="account-wrap"></div> -->
        <!-- Header NavBar New Start -->
        <div class="col-12">

          <nav class="navbar navbar-expand-lg nevigationBar">
            <div class="container-fluid ">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse align-self-center col-xl-12 " id="navbarTogglerDemo01">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

                  
                       <!-- search Start -->
                       <li class="nav-item align-self-center flex-xxl-fill "> <app-search></app-search> </li>
                       <!-- search End -->
                    
                       <!-- login Start -->
                       <li class="nav-item align-self-center flex-xxl-fill"> <app-login-status></app-login-status></li>
                       <!-- <li class="nav-item align-self-center flex-xxl-fill"><app-google-login></app-google-login></li> -->
                       <!-- login End -->
                    
                      <!-- Cart Start -->
                      <li class="nav-item align-self-center flex-xxl-fill  p-2"><app-cart-status></app-cart-status></li>
                      <!-- Cart End -->
                    
                        

                </ul>


              </div>
            </div>
          </nav>

        </div>
        <!-- Header NavBar New End -->

      </div>
    </div>
  </header>
  <!-- END HEADER DESKTOP-->

  <div class=" col-xl-12 ">
    <div class=" col-xl-12 navBackground">

      <div class="col-xl-12 row ">
        <!--START slider-->
        <app-coursel></app-coursel>
        <!-- END/slider-->
      </div>

      <div class="col-xl-12 row ">
        <!-- Navbar start -->
        <app-product-navbar-menu></app-product-navbar-menu>
        <!-- Navbar end -->
      </div>

    </div>

    <div class="col-xl-12 row">
      <!-- start Main Content-->
      <router-outlet></router-outlet>
      <!-- End Main Content -->
    </div>

    <div class="col-xl-12 row navBackground">
      <!-- footer  -->
      <app-footer></app-footer>
      <!-- footer -->
    </div>

  </div>
</div>
<!-- Div body Content End -->


<!-- START MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block background">
  <div class="logo">
    <a href="#">
      <img src="../assets/images/logoNiqasay2.png" alt="onlineshop" class="img-responsive">
    </a>
  </div>
  <app-product-category-menu></app-product-category-menu>
</aside>
<!-- END MENU SIDEBAR-->