<div class="container">
    <div class="row divBox">
        <p class="pull-left">Company Information</p>
        <p class="pull-right">
            We are an online brand that develops and design products according to customer demand having a highly trained team of professionals 
            who possess years of experience in designing and developing custom-made products and setting up the latest market trends by designing 
            unique quality products to achieve customer satisfaction. 
        </p>
    </div>
</div>