<!--START slider-->
<!-- divBackgroundLeft -->
<div id="banner" class="container-fluid banner ">
    <div class="container">
      <div class="row">
  
        <div class="col-sm-6">
          <h1><span class="brandheadingA">NiQasay</span> </h1>
          <h4>Online Garments Store</h4>
          <h6>Discover Your Favourite Trends at One Place</h6>
          <hr>
          <h5>Forever Designs over Premium Quality Fabric</h5>
          <p class="textJustify">
            
            We delight you with our special prices, offers and deals. We provide massive deals and discounts
            throughout the year and also have special daily deals that come and go on a daily basis. 
            We also provide our customers with amazing “Slightly Used” products that have been handpicked and 
            thoroughly inspected by our procurement teams to give you the best brands in
            amazing condition at unbelievable prices.

          </p>
         
          <button type="button" routerLink="category/1" class="btn btn-warning">Get it now</button>
        </div>
        <div class="col-sm-6 ">

          <img style="align-self: flex-end; padding-left: 40%;" src="../../../assets/images/webimages/pngwing44.png" class="girl img-responsive" alt="" />
        
        </div>
  
      </div>
    </div>
  
  </div>
  
  <!-- END/slider-->