<!-- Cart Start -->
<!-- <div class="row"> -->
    <!-- <a routerLink="/cart-details"> -->
        <!-- <div class="total " style="margin-left: 15px;">{{totalPrice | currency: 'PKR' : 'Rs '}} <span> {{totalQuantity}}</span> </div>  -->
       
        <!-- <i class=" bi bi-cart-check-fill" > </i> -->
        <!-- <img src = "../../../assets/images/cart.svg" alt="cart" width="48px" height="48px" class="cartColor" /> -->
    <!-- </a> -->
    <!-- <button routerLink="/cart-details" class="btn btn-lg btn-outline-warning button" >{{totalPrice | currency: 'PKR' : '  Rs '}}    <i class="bi bi-cart-check-fill cartColor"> <span>  Items  {{totalQuantity}}</span> </i></button>
 -->
<!-- </div>  -->
<!-- Cart End --> 
<!-- fa fa-shopping-cart aria-hidden="true"  style="color: #ffbb00;" -->


            <button routerLink="/cart-details" class="btn btn-lg btn-outline-warning button " >{{totalPrice | currency: 'PKR' : '  Rs '}}    <i class="bi bi-cart-check-fill cartColor"> <span>  Items  {{totalQuantity}}</span> </i></button>
        
    
   
       

      
      

    
        
    
    
       
    
    
        
    

